.add-food {

    width: 500px;
    margin: 40px auto;
    padding: 30px;

    background: #ffffff;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

}


.add-food h1 {

    text-align: center;

    margin-bottom: 25px;

    color: #e63946;

}



.add-food form {

    display: flex;

    flex-direction: column;

    gap: 15px;

}



.add-food input,
.add-food textarea {


    padding: 12px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:16px;

}



.add-food textarea{

    height:120px;

    resize:none;

}



.add-food button{


    padding:14px;

    background:#e63946;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}



.add-food button:hover{


    background:#c1121f;

}