.cart-container{
    padding:40px;
}


.cart-container h1{
    text-align:center;
    margin-bottom:30px;
}


.cart-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}


.cart-card{
    display:flex;
    gap:25px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.cart-image{
    width:150px;
    height:120px;
    object-fit:cover;
    border-radius:10px;
}


.cart-info h2{
    margin-bottom:10px;
}


.remove-btn{
    background:#e63946;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}


.remove-btn:hover{
    opacity:0.8;
}


.empty-cart{
    text-align:center;
}


.cart-loading{
    text-align:center;
    padding:50px;
    font-size:25px;
}