.menu-container {
    padding: 30px;
}


.menu-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}



.food-grid {

    display: grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap: 25px;

}



.food-card {

    background: white;

    border-radius: 15px;

    padding: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    text-align: center;

}



.food-card img {

    width:100%;

    height:200px;

    object-fit:cover;

    border-radius:12px;

}



.food-card h2 {

    margin:15px 0;

}



.food-card p {

    font-size:20px;

    font-weight:bold;

}



.food-card button {


    background:#ff5722;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}



.food-card button:hover {

    background:#e64a19;

}